**# Basics of Python** 
**1- My first Program**

print(2+3)
print("Hello world")
print ("We are learning Python with Awais")

**2- Operators**

In [1]:
print (3-2)
print (6/2)
print (2*3)
print (13%2)
print (6//2)
print (2**3)
print (3**2/2*3/3+6-4)

1
3.0
6
1
3
8
6.5

**3- Strings**

In [2]:
print("Hello world")
print ("We are learning Python with Awais")
print('test for single quotes')
print("test for double quotes")
print('''test for triple quotes''')
print ("what's up?")

Hello world
We are learning Python with Awais
test for single quotes
test for double quotes
test for triple quotes
what's up?

**4- Comments**

In [3]:
print("how are you?")                         #press these to comment out (Ctrl+/)
print ("we are learning python with Awais")   #print a string
print(2+6)                                    #print operators function with numbers

how are you?
we are learning python with Awais
8

**5- Variables**
*Variabales: objects containg specific values*

In [4]:
x=5                                           #numeric or integer variable
print(x)
y= "We are learing Python with Awais"         #string variable
print (y)
x=x+10 # or x=15
print(x)

#Types/class of variables*
type(x)
print(type(x))

print (type(y))

#print_type_class


fruit_basket= 8
fruit_basket=15
# del fruit_basket
print(type(fruit_basket))
print(fruit_basket)

5
We are learing Python with Awais
15
<class 'int'>
<class 'str'>
<class 'int'>
15

#*Rules to assign a variable*
1- The variables should cantain letters, number or underscorres
2- Do not start with numbers
3- Spaces are not allowed
4- Do not use keywords used in functions (break, mean,media,test etc) plz see google for keywords in Python
5- Short and descriptive
6- Case senstivity (Lowercase, uppercase) lower case letters shoild be used

**6- Input variables**

In [ ]:
fruit_basket="mangoes"
print(fruit_basket)

fruit_basket=input("which is your favourite fruit? ")
print(fruit_basket)

#Input function of 2nd stage
name=input("what is your name? ")
greeting="Hello"
print(greeting, name)

#Another way of stage 2 input function
name=input("What is your name?")
print("hello", name)

#3rd stage input function
name+ input("what is your name? ")
age=input("how old are you? ")
greeting= "hello"

print(greeting,name, "you are still young")

mangoes

**7- Conditional Logics**
*logical operators are either "true or false" or "yes or no" or "0 or 1"*
*equal to                      ==*
*not equal to                  !=*
*less than                     <*
*greater than                  >*
*less than and equal to        <=*
*greatar than and equal to     >=*

In [ ]:
#is 4 equal to 4?
print(4==4)
print(4!=4)
print(4>3)
print(3>6)

#application of logical operators
Awais_age=4
minimum_age_at_school=5
print(Awais_age==minimum_age_at_school)

#input function and logicals operator
age_at_school=5
Awais_age=input("how old is Awais? ") #input function
Awais_age= int (Awais_age)
print(type(Awais_age))
print(Awais_age==age_at_school) #logical operator

**08- Types of Conversion**
*implicit type conversion*
*x=10      >  intege*
*y=10.2    >  float*
*z="Hello" >  string*

In [ ]:
x= x*y
print(x, "type of x is:", type(x))
print(type(x))
print(type(y))
print(type(z))

#explicit type conversion
age=input("what is your age?")
age=int(age)
print(age, type(int(age)))

name=input("what is your name?")
print(name, type((name)))

**09- If, else & elif**

In [ ]:
Hammad_age=5
required_age_at_school=5
question: can hammad go to school?

if Hammad_age==required_age_at_school:
     print("Hammad can join the school")
else:
     print("Hammad can not go to school")


 Hammad_age=4
 required_age_at_school=5
 question: can hammad go to school?

 if Hammad_age==required_age_at_school:
     print("Hammad can join the school")
 else:
     print("Hammad can not go to school")


Hammad_age=10
required_age_at_school=5
question: can hammad go to school?

if Hammad_age==required_age_at_school:
    print("Hammad can join the school")
elif Hammad_age> required_age_at_school:
    print("Hammad should join higher secondary school")
else:
    print("Hammad can not go to school")

**10- functions**

In [ ]:
#1
 def print_awais():
     print("we are learning with Awais")
     print("we are learning with Awais")
     print("we are learning with Awais")


 print_awais()

#2
 def print_awais():
     text="we are learning with Awais"
     print(text)
     print(text)
     print(text)

 print_awais()

#3
 def print_awais(text):
     print(text)
     print(text)
     print(text)

 print_awais("we are learning with Awais")

## defining a function with if, elif and else statements

#1
 def school_calculator(age, text):
     if age==5:
         print("Hammad can join the school")
     elif age>5:
         print("Hammad should go to higher school")
     else:
         print ("Hammad is still a baby")

 school_calculator(5, "Hammad")
#2
 def school_calculator(age, text):
     if age==5:
         print("Hammad can join the school")
     elif age>5:
         print("Hammad should go to higher school")
     else:
         print ("Hammad is still a baby")

 school_calculator(2, "Hammad")
#3
 def school_calculator(age, text):
     if age==5:
         print("Hammad can join the school")
     elif age>5:
         print("Hammad should go to higher school")
     else:
         print ("Hammad is still a baby")

 school_calculator(12, "Hammad")


#4
 def school_calculator(age):
     if age==5:
         print("Hammad can join the school")
     elif age>5:
         print("Hammad should go to higher school")
     else:
         print ("Hammad is still a baby")

 school_calculator(5)

#5
 def school_calculator(age):
     if age==5:
         print("Hammad can join the school")
     elif age>5:
         print("Hammad should go to higher school")
     else:
         print ("Hammad is still a baby")

 school_calculator(2)

# 6
 def school_calculator(age):
     if age==5:
         print("Hammad can join the school")
     elif age>5:
         print("Hammad should go to higher school")
     else:
         print ("Hammad is still a baby")

 school_calculator(12)

# definin a function of future

def future_age(age):
    new_age=age+20
    return new_age

future_predicted_age=future_age(18)
print(future_predicted_age)

**11- Loops**
*while and for loops*

In [ ]:
#while loops

#1
x=0
while (x<5):
    print(x)
    x=x+1

#2

x=0
while (x<=5):
    print(x)
    x=x+1

#for loop

for x in range (5,15):
    print(x)

# array
days= ["Mon," "Tue," "Wen," "Thu," "Fri," "Sat," "Sun"]

for d in days:
   if(d=="Fri"):break #loop stops
   if (d=="Fri"):continue
   print(d)

**12- Import Libraries**

In [ ]:
# if you want to print the value of pi

import math
print("The value of pi is", math.pi)

import statistics

x=[150,250,350,450]
print(statistics.mean(x))

**13- Trouble Shooting**

In [ ]:
# print(we are learning python with Awais) #SyntaxError: invalid syntax. Perhaps you forgot a comma?
# print("we are learning python with Awais")

# print(25/0)# runtime error

name= Awais
print("Hello", name) #NameError: name 'Awais' is not defined

name= "Awais"
print("Hello", name)